@tailwind base;
@tailwind components;
@tailwind utilities;
@import "fonts";
:root {
	--color-primary: #FFA500;       /* Orange */
	--color-accent: #FFD700;        /* Yellow */
	--color-black: #000000;         /* Black */
	--color-dark-orange: #FF8C00;   /* Dark Orange */
	--color-gold: #FFD700;          /* Gold */
	--color-dark-gray: #333333;     /* Dark Gray */
	--color-background: #121212;    /* Dark Background */
	--color-surface: #1E1E1E;       /* Dark Surface */
	--color-text-primary: #FFFFFF;  /* Primary Text */
	--color-text-secondary: #B0B0B0; /* Secondary Text */
}
html {
	@apply text-black;
	background-color: #000;
	font-family: sans-serif; /* Default to sans-serif */
}

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}

.only-desktop {
	display: block;
}
.only-mobile {
	display: none;
}
@media (max-width: 639px) {
	.only-desktop {
		display: none !important;
	}
	.only-mobile {
		display: block !important;
	}
}
::-webkit-scrollbar {
	width: 12px;
}

/* This is the background that sits behind the scrollbar */
::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: rgba(15, 14, 14, 0.5);  /* You can change color according to your preference */
}

/* This is the actual scroll 'bar' */
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgb(38, 37, 37);    /* You can change color according to your preference */
}

/* Changes the scrollbar when it's clicked or being hovered upon */
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
	background-color: #424040;   /* You can change color according to your preference */
}

.pac-container {
	background-color: #171717;
	border-radius: 0px 0px 10px 10px;
	color: #fff;
	position: absolute!important;
	z-index: 10;
	border-top: none;
	margin-top: 0px;
	padding-top: 5px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden
}

.pac-logo:after {
	content: "";
	padding: 1px 1px 1px 0;
	height: 16px;
	text-align: right;
	display: none;
	background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white3.png);
	background-position: right;
	background-repeat: no-repeat;
	background-size: 120px 14px
}
.hdpi.pac-logo:after {
	background-image: url('')
}
.pac-item {
	cursor: pointer;
	padding: 7px 12px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	line-height: 30px;
	text-align: left;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	font-size: 11px;
	color: #999
}
.pac-item:first-child {
	border-top: none;
}

.pac-item:hover {
	background-color: #424040;
}
.pac-item-selected,
.pac-item-selected:hover {
	background-color: #ebf2fe
}
.pac-matched {
	font-weight: 700
}
.pac-item-query {
	font-size: 13px;
	padding-right: 3px;
	color: #fff
}
.pac-icon {
	width: 15px;
	height: 20px;
	margin-right: 7px;
	margin-top: 6px;
	display: inline-block;
	vertical-align: top;
	background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons.png);
	background-size: 34px
}
.hdpi .pac-icon {
	background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons_hdpi.png)
}
.pac-icon-search {
	background-position: -1px -1px
}
.pac-item-selected .pac-icon-search {
	background-position: -18px -1px
}
.pac-icon-marker {
	background-position: -1px -161px
}
.pac-item-selected .pac-icon-marker {
	background-position: -18px -161px
}
.pac-placeholder {
	color: gray
}
.font-impact{
	font-family: 'Impact', sans-serif;
}
.border-double{
	min-height: 61px;
}
.border-double::before{
	content: '';
	position: absolute;
	bottom: 3px;
	left: 0;
	width: 100%;
	height: 100%;
	border-bottom: 1px solid white;
	pointer-events: none;
	z-index: 1;
}
.border-double::after{
	content: '';
	position: absolute;
	bottom: 6px;
	left: 0;
	width: 100%;
	height: 100%;
	border-bottom: 1px solid white;
	pointer-events: none;
	z-index: 1;
}